
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div style="height:410px;">
    <h2 style="margin:auto; color:red; font-size:40px; text-align:center; line-height:410px;">Thanh toán không thành công!!!</h2>
</div>

