
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div style="height:410px;">
    <h2 style="margin:auto; color:red; font-size:40px; text-align:center; line-height:410px;">Chúc mừng bạn đã thanh toán thành công qua Paypal!!!</h2>
</div>

